.chl-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.challenge-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
}
.challenge-div2{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0;

}
@media(max-width:480px){
    .chl-div{
        flex-direction: column;
        margin-left:25px;
        align-items:center;
    }
}


/*
.placeholder-div{
    padding: 10px 0;
}
*/
.clicked{
    background-color: dodgerblue;
    color: lightcyan !important;
}
/*button{
    width:80px;
    background: dodgerblue;
    align-self: center;
    border: dodgerblue;
    padding: 10px 0;
    cursor: pointer;
}*/

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}