.div-Header2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	box-shadow: 0px 9px 24px -20px #80B09E;
}
.div3-Header2{
	align-self: flex-end;
}

.div4-Header2{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: flex-end;
	color: #005e85;
}
.div4-Header2 a{
	color: #005e85;
	text-decoration: none;
	padding: 0 5px;
}
a span{
	color: gray;
	font-size:30px;
}
.div4-Header2-div{
	align-self: flex-end;
	margin-right: 20px;
	color: green;
	font-weight: bold;
}
.div4-Header2-div2 p{
	text-align: right;
	margin: 0;
	color: #005e85;
	font-style: italic;

}
.button-folder {
	width: 100px;
	display: inline-block;
	border:none;
	text-align: center;
	background: gray;
	color: white;
	padding: 6px 10px;
	text-decoration: none;
}
.active-button{
	background: rgba(0, 93, 133);
	color: white;
  }