<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>FitTogether</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <script src="/js/jquery-3.6.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <style>
    .list-inline-item {
      margin-right: 25px;
    }
  </style>
</head>
<body>
<div th:insert="header.html :: header"/>


<div class="container-fluid">

  <ul class="list-group list-group-flush">
    <li class="list-group-item active" aria-current="true">FitTogether Help</li>
    <li class="list-group-item">Welcome to <a href="https://fittogether.demo.axway.com">FiTogether</a> app. You will be able to link your <a
      href="http://www.strava.com">Strava</a> activities to be automatically counted towards the Axway's Health &amp;
      Wellness Week leaderboard.
    </li>
    <li class="list-group-item">You are here. You are logged in, and you have used your Axway ID. Now lets select the
      event and register
    </li>
    <li class="list-group-item">Click on the Events button on the navigation bar and select the 'Health and Wellness
      Week' event for participating in Axway's event for 2022
    </li>
    <li class="list-group-item">Now, you are allowed to create a registration and link your Strava account</li>
    <li class="list-group-item">During the entire event allow Strava to be connected to the app to count your activities
      towards the leaderboard
    </li>
    <li class="list-group-item">Select your department you represent within Axway for the stripes and the timing of the
      event is already preselected for you
    </li>
    <li class="list-group-item">Once you are done with the registration, and connecting your strava account - you are
      READY to GO for the Health &amp; Wellness Week.
    </li>
    <li class="list-group-item">Sit back &amp; Relax! Use the FiTogether teams channel and jive posts to participate in
      the event and interact with your fellow axwegians
    </li>
    <li class="list-group-item">Stay tuned for more updates on the leaderboard and have fun competing with your
      colleagues
    </li>
  </ul>
</div>

</div>
<div th:insert="svg.html :: svg"/>
<div th:insert="footer.html :: footer"/>
</body>
</html>
