.App {
  text-align: center;
}
.div-app{
  background-size: auto;
    background-repeat: no-repeat ;
    background-size: contain;
    width: 100%;
    background-position: center;
    opacity: 0.9;
    /* background-color: lightblue; */
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
